<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="far fa-file"></i> Property Information</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="GET" enctype="multipart/form-data" [formGroup]="editFormGroup">
                            <input formControlName="propertyId" hidden>
                            <span>
                                <h3>Property Information</h3>
                            </span>
                            <div class="form-group">
                                <label for="userName">Title: <span class="text-danger">*</span></label>
                                <input type="text" name="title" data-parsley-trigger="change" required="required"
                                    placeholder="Enter title" class="form-control" formControlName="title">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="region">
                                            Select Region: <span class="text-danger">*</span>
                                        </label>
                                        <div>
                                            <select class="form-control select2 select2-hidden-accessible" id="region"
                                                name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                                formControlName="regionId" required="required"
                                                (change)="onChangeRegion($event)">
                                                <option value="" disabled hidden>Choose region</option>
                                                <option value="{{region.regionId}}" *ngFor="let region of regions">
                                                    {{region.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="country">
                                            Select Country: <span class="text-danger">*</span>
                                        </label>
                                        <div>
                                            <select class="form-control select2 select2-hidden-accessible" id="country"
                                                name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                                formControlName="countryId" required="required"
                                                (change)="onChangeCountry($event)">
                                                <option value="" disabled hidden>Choose country</option>
                                                <option value="{{country.countryId}}" *ngFor="let country of countries">
                                                    {{country.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="city">
                                            Select City: <span class="text-danger">*</span>
                                        </label>
                                        <div>
                                            <select class="form-control select2 select2-hidden-accessible" id="city"
                                                name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                                formControlName="cityId" required="required">
                                                <option value="" disabled hidden>Choose city</option>
                                                <option value="{{city.cityId}}" *ngFor="let city of cities">
                                                    {{city.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addresss">Address: <span class="text-danger">*</span></label>
                                <div>
                                    <input data-parsley-type="number" type="text" class="form-control" required=""
                                        id="address" placeholder="Enter address" formControlName="address"
                                        required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="example1">
                                            Select type: <span class="text-danger">*</span>
                                        </label>
                                        <div class="mb-1"></div>
                                        <select class="form-control select2 select2-hidden-accessible" id="example1"
                                            name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                            formControlName="type" required="required">
                                            <option value="Rent/Sale">Rent/Sale</option>
                                            <option value="Sale">Sale</option>
                                            <option value="Rent">Rent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="category">
                                            Select category: <span class="text-danger">*</span>
                                        </label>
                                        <div class="mb-1"></div>
                                        <select class="form-control select2 select2-hidden-accessible" id="category"
                                            name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                            formControlName="categoryId" required="required">
                                            <option value="{{category.categoryId}}" *ngFor="let category of categories">
                                                {{category.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="price">
                                            Price($): <span class="text-danger">*</span>
                                        </label>
                                        <input data-parsley-type="number" type="number" class="form-control" required=""
                                            id="price" placeholder="Enter price" formControlName="price"
                                            required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="userName">Area (m2): <span class="text-danger">*</span></label>
                                        <input data-parsley-type="number" type="number" class="form-control" required=""
                                            formControlName="area" placeholder="Enter area" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="room">Number of rooms: <span class="text-danger">*</span></label>
                                        <input type="number" name="title" data-parsley-trigger="change"
                                            required="required" id="room" formControlName="roomNumber"
                                            placeholder="Enter number" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="bedroom">Number of bedrooms: <span
                                                class="text-danger">*</span></label>
                                        <input type="number" name="title" data-parsley-trigger="change"
                                            class="form-control" required="required" formControlName="bedNumber"
                                            id="bedroom" placeholder="Enter number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <h3>Ad/Post content</h3>
                                </label>
                                <textarea id="format-custom" class="form-control" formControlName="description"
                                    >{{property?.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    <h3>Choose Image</h3>
                                </label>
                                <br>

                                <span class="pull-right">
                                    <button class="btn btn-primary" (click)="file.click()">
                                        Choose files
                                    </button>
                                </span>
                                <input type="file" #file multiple (change)="detectFiles($event)"
                                    accept=".jpg, .png, .jpeg, .gif" style="display: none;">
                                <div class="image-box-container">
                                    <div class="row">
                                        <ng-container *ngFor="let url of urls; index as indexImage">
                                            <div class="col-md-3 col-sm-6 mb-3 image-box">
                                                <img class="preview-image" [src]="url">
                                                <span class="remove-image" (click)="deleteImageStore(indexImage)"><i
                                                        class="fas fa-times-circle"></i></span>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngFor="let image of gallery; index as indexImage">
                                            <div class="col-md-3 col-sm-6 mb-3 image-box">
                                                <img class="preview-image" [src]="getUrlImage(image.name)">
                                                <span class="remove-image" (click)="deleteGalleryImage(indexImage)"><i
                                                        class="fas fa-times-circle"></i></span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="upload-box">
                                    <p>{{successImage}} / {{numberImage}} files uploaded</p>
                                    <button class="btn btn-primary" type="button">
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Uploading...
                                    </button>
                                </div>
                            </div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary" type="submit" (click)="editProperty()">
                                    Save
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- end card-->
    </div>
</div>