<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w480">
        <div class="card card-4">
            <div class="card-header">
                <h2>Forgot Password</h2>
            </div>
            <div class="card-body">
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    <span [innerHTML]="errorMessage"></span>
                </div>
                <div *ngIf="showSuccess" class="alert alert-primary" role="alert">
                    <span [innerHTML]="errorMessage"></span>
                </div>
                <form method="POST" [formGroup]="emailForm">
                    <div class="formGroup">
                        <div class="input-group">
                            <label class="label">Email</label>
                            <input class="input--style-4" type="text" placeholder="Enter email" formControlName="email">
                            <em class="text-danger"
                                *ngIf="validateControl('email') && hasError('email', 'required')">Email is
                                required</em>
                            <em class="text-danger"
                                *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid
                                email</em>
                        </div>
                    </div>
                    <div class="p-t-10 p-b-15">
                        <button class="my-btn btn--radius-2 btn--blue" type="submit" (click)="onSubmit()"
                            [disabled]="emailForm.invalid">Send</button>
                        <a [routerLink]="['/login']"> or Login</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>