<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w480">
        <div class="card card-4">
            <div class="card-header">
                <h2>Reset Password</h2>
            </div>
            <div class="card-body">
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    <span [innerHTML]="errorMessage"> </span>
                </div>
                <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
                    <div class="formGroup">
                        <div class="input-group">
                            <label class="newPassword">New password</label>
                            <input class="input--style-4" type="password" placeholder="New password"
                                formControlName="newPassword" id="newPassword">
                        </div>
                    </div>
                    <div class="formGroup">
                        <div class="input-group">
                            <label class="confirmNewPassword">Confirm new password</label>
                            <input class="input--style-4" type="password" placeholder="Confirm new password"
                                formControlName="confirmNewPassword" id="confirmNewPassword">
                        </div>
                    </div>
                    <div class="p-t-10 p-b-15 text-center">
                        <button class="my-btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>