<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Member Details</li>
        </ul>
    </div>
</section>

<section class="w3l-index3" id="about">
    <div class="midd-w3 pb-5">
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="">
                        <img [src]="getUrlImage('member',sellerId.photo)" alt="" width="480" height="380">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h3 class="title-big">Company: {{sellerId.fullName}}</h3>
                        <!-- <h3 class="title-small"></h3> -->
                        <p class="mt-4">Phone: {{sellerId.phone}}</p>
                        <p class="mt-3">{{sellerId.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <div class="introduces">
                <h4>Introduce</h4>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 listing-img" *ngFor="let p of propertyId">
                    <!-- <a [routerLink]="['/user/single-property', {id : {{p.propertyId}} }]"> -->
                    <a [routerLink]="['/user/single-property', {propertyId: p.propertyId}]">

                        <div class="box16" style="overflow: hidden;">
                            <!-- <div class="rentext-listing-category text-primary">{{p.name}}</div> -->
                            <img class="img-fluid" [src]="getUrlImage('property',p.thumbailName)" alt="">
                            <div class="box-content">
                                <h5 class="title"></h5>
                            </div>
                        </div>
                    </a>
                    <div class="listing-details blog-details align-self">
                        <h4 class="user_title agent">
                            <a [routerLink]="['/user/single-property', {propertyId: p.propertyId}]">{{readMoreFunc(p.title)}}</a>
                        </h4>
                        <p class="user_position">Price : $ {{p.price}} {{ (p.type == 'Rent') ? ' / month ' : ''}}</p>
                        <p class="user_position">{{p.address}}</p>
                        <ul class="mt-3 estate-info">
                            <li><span class="fa fa-bed"></span> {{p.bedNumber}} Beds </li>
                            <li><span class="fa fa-bed"></span> {{p.roomNumber}} Rooms </li>
                            <li><span class="fa fa-share-square-o"></span> {{p.area}} Sqft</li>
                        </ul>

                    </div><br>
                </div>

            </div>


        </div>
    </div>
</section>