<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w480">
        <div class="card card-4">
            <div class="card-header">
                <h2>Forgot Password</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="formGroup">
                        <div class="input-group">
                            <label class="label">Email</label>
                            <input class="input--style-4" type="text" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="p-t-10 p-b-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Send</button>
                        <span></span>
                        <a [routerLink]="['/login']"> or Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>