<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<div class="row py-3">
    <div class="col-lg-3 col-md-12">
        <!-- Popular Post Widget-->
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h4>Search</h4>
            </div>

            <form action="">
                <div class="form-group">
                    <input type="text" id="nameProperty" class="form-control" placeholder="Keyword">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputNumber1" aria-describedby="numberlHelp"
                        placeholder="Location" required="">

                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" required="required">
                        <option value="" disabled selected>Region</option>
                        <option value="">USA</option>
                        <option value="">Thailand</option>
                        <option value="">Africa</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" required="required">
                        <option value="" disabled selected>Type</option>
                        <option value="">For Rent</option>
                        <option value="">For Sell</option>
                    </select>
                </div>
                <div class="form-group">
                    Area
                    <input type="range">
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" required="required">
                        <option value="" disabled selected>Beds</option>
                        <option value="">1+</option>
                        <option value="">2+</option>
                        <option value="">3+</option>
                        <option value="">4+</option>
                        <option value="">5+</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" required="required">
                        <option value="" disabled selected>Baths</option>
                        <option value="">1+</option>
                        <option value="">2+</option>
                        <option value="">3+</option>
                        <option value="">4+</option>
                        <option value="">5+</option>
                    </select>
                </div>
                <div class="form-group">
                    Value
                    <input type="range">
                </div>
            </form>

        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <section class="locations-1" id="locations">
            <div class="locations py-1">
                <div class="container py-lg-2 py-md-4 py-2">
                    <div class="row">
                        <h3>Heheheheh</h3>
                    </div>

                    <!-- pagination -->
                    <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                        <ul class="page-pagination">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" [routerLink]="['/user/single-property']">2</a></li>
                            <li><a class="page-numbers" [routerLink]="['/user/single-property']">3</a></li>
                            <li><a class="page-numbers" [routerLink]="['/user/single-property']">...</a></li>
                            <li><a class="page-numbers" [routerLink]="['/user/single-property']">15</a></li>
                            <li><a class="next" [routerLink]="['/user/single-property']">Next <span
                                        class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                    <!-- //pagination -->
                </div>
            </div>
        </section>
    </div>
</div>