<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="far fa-file"></i> Create a new post</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form [formGroup]="formEditNewsGroup">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="title">Title<span class="text-danger">*</span></label>
                                        <input formControlName="title" type="text"
                                            placeholder="Enter title" name="title" class="form-control">
                                            <div *ngIf="formEditNewsGroup.get('title')?.touched">
                                                <div class="text-danger" *ngIf="formEditNewsGroup.hasError('required', ['title'])">
                                                    This field is required.
                                                </div>
                                                <div class="text-danger" *ngIf="formEditNewsGroup.hasError('minlength', ['title'])">
                                                    Please enter at least 5 characters.
                                                </div>            
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex justify-content-between">
                                            <label for="example3">
                                                Select category:<span class="text-danger">*</span>
                                            </label>
                                            <a style="cursor: pointer;" class="fas fa-plus-circle" data-toggle="modal"
                                                data-target="#createNewsCategory"></a>
                                        </div>
                                        <div class="mb-1"></div>
                                        <select formControlName="categoryId"
                                            class="form-control select2 select2-hidden-accessible" id="example1"
                                            name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                            required="required">
                                            <option *ngFor="let category of allNewsCategory;"
                                                value="{{category.newsCategoryId}}">{{category.name}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label>News content</label>
                                <textarea id="format-custom" formControlName="description">
                                    {{currentNews.description}}
                                </textarea>
                            </div>                            

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- end card-->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary" (click)="file.click()">
                        Choose files
                    </button>
                </span>
                <input type="file" #file multiple (change)="detectFiles($event)" accept=".jpg, .png, .jpeg"
                    style="display: none;">
            </div>

            <div class="card-body">
                <form action="">
                    <div class="image-box-container">
                        <div class="row">
                            <ng-container *ngFor="let url of urls; index as indexImage">
                                <div class="col-md-3 col-sm-6 mb-3 image-box">
                                    <img class="preview-image" [src]="url">
                                    <span class="remove-image" (click)="deleteImageStore(indexImage)"><i
                                            class="fas fa-times-circle"></i></span>
                                </div>
                            </ng-container>
                            <ng-container *ngFor="let image of galleryNews; index as indexImage">
                                <div class="col-md-3 col-sm-6 mb-3 image-box">
                                    <img class="preview-image" [src]="getUrlImage(image.name)">
                                    <span class="remove-image" (click)="deleteGalleryImage(indexImage)"><i
                                            class="fas fa-times-circle"></i></span>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group text-right m-b-0">
                        <button class="btn btn-primary mr-2" type="submit" (click)="updateNews()" [disabled]="formEditNewsGroup.invalid">
                            Update
                        </button>
                        <ng-container *ngIf="currentNews.status!='public'">
                            <button class="btn btn-primary" type="submit" (click)="updateNews()" [disabled]="formEditNewsGroup.invalid">
                                Save draft
                            </button>
                        </ng-container>
                        <!-- <button class="btn btn-primary click-success" type="submit">
                            Save change
                        </button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">

    
</div>

<div class="upload-box">
    <p>{{successImage}} / {{numberImage}} files uploaded</p>
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Uploading...
    </button>
</div>

<!-- Create new Category Modal Start-->
<div id="createNewsCategory" class="modal fad" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create News Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" #newCategoryInput placeholder="Enter new category" minlength="3">
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button (click)="addNewsCategory(newCategoryInput.value)" type="button" class="btn btn-primary"
                    data-dismiss="modal">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Create new Category Modal End-->