<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <a [routerLink]="['/admin/news']">
                    <span class="pull-right"><button type="button" class="btn btn-primary"><i class="fas fa-plus"
                                aria-hidden="true"></i> Add news</button></span>
                </a>
                <h3><i class="fas fa-table"></i> Manage News/Posts</h3>
            </div>
            <div class="card-body">

                <!-- Form Search & Filter -->
                <div class="from-group mb-3">
                    <div class="container-fluid">
                        <form [formGroup]="formSearchNews">
                            <div class="row">
                                <div class="col-md-3 mb-1">
                                    <input formControlName="title" type="text" class="form-control" value=""
                                        placeholder="Enter title">
                                </div>
                                <div class="col-md-3 mb-1">
                                    <select formControlName="categoryName"
                                        class="form-control select2 select2-hidden-accessible" name="category"
                                        tabindex="-1" aria-hidden="true" required="required">
                                        <option value="all" selected="selected">All</option>
                                        <option *ngFor="let category of allNewsCategory" value="{{category.name}}">
                                            {{category.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <select formControlName="status"
                                        class="form-control select2 select2-hidden-accessible" name="status"
                                        tabindex="-1" aria-hidden="true" required="required">
                                        <option value="all" selected="selected">All</option>
                                        <option value="public">Public</option>
                                        <option value="nonPublic">Nonpublic</option>
                                        <option value="draft">Draft</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <select formControlName="sortDate"
                                        class="form-control select2 select2-hidden-accessible" name="status"
                                        tabindex="-1" aria-hidden="true" required="required">
                                        <option value="all" selected="selected">All</option>
                                        <option value="asc">Latest</option>
                                        <option value="desc">Earlier</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button (click)="searchBtn()" type="submit" class="btn btn-primary" style="width: 100%;" >Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover display dataTable no-footer"
                                        style="width: 100%;" role="grid" aria-describedby="dataTable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending"
                                                    style="width: 50px;">No.</th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending"
                                                    style="width: 159px;">Title</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Position: activate to sort column ascending"
                                                    style="width: 180px;">Thumbnail</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Office: activate to sort column ascending"
                                                    style="width: 115px;">Category</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Date: activate to sort column ascending"
                                                    style="width: 98px;">Date</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Date: activate to sort column ascending"
                                                    style="width: 98px;">Status</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Salary: activate to sort column ascending"
                                                    style="width: 92px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let news of allNews; index as i">
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">{{NoNum*(currentPage-1)+1 + i}}</td>
                                                    <td>{{news?.title}}</td>
                                                    <td>
                                                        <img [src]="getUrlImage(news?.thumbnailName)"
                                                            alt="{{news?.title}}" width="180" height="200">
                                                    </td>
                                                    <td>{{news?.categoryName}}</td>
                                                    <td>{{news?.createdDate|date:'dd/MM/y'}}</td>
                                                    <td>
                                                        <span *ngIf="news?.status=='public'; else elseIfBlock">
                                                            <i class="fas fa-dot-circle text-success"></i> Public
                                                        </span>
                                                        <ng-template #elseIfBlock>
                                                            <span *ngIf="news?.status=='draft'; else elseBlock">
                                                                <i class="fas fa-dot-circle text-warning"></i> Draft
                                                            </span>
                                                        </ng-template>
                                                        <ng-template #elseBlock>
                                                            <i class="fas fa-dot-circle text-warning"></i> Nonpublic
                                                        </ng-template>
                                                    </td>
                                                    <td>
                                                        <a (click)="viewNews(news?.newsId)"
                                                            class="btn btn-success btn-sm btn-block "
                                                            data-toggle="modal" data-target="#viewNews"><i
                                                                class="fas fa-eye"></i> Views</a>
                                                        <a (click)="editNews(news)"
                                                            class="btn btn-primary btn-sm btn-block "><i
                                                                class="fas fa-pencil-alt "></i> Edit</a>
                                                        <a (click)="sendNewsInfo(news?.newsId, news.status)"
                                                            class="btn btn-primary btn-sm btn-block "
                                                            data-toggle="modal" data-target="#changeStatus"><i
                                                                class="fas fa-exchange-alt"></i> Status</a>
                                                        <a (click)="deleteNews(news)"
                                                            class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                                class="fas fa-trash "></i> Delete</a>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end table-responsive-->

            </div>
            <!-- end card-body-->

        </div>
        <!-- end card-->

    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div>
                Showing {{currentPage==1? 1 : (currentPage-1)*10}} to {{currentPage*10 > newsLength? newsLength :
                currentPage*10}} of {{newsLength}} entries
            </div>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <ng-container *ngIf="currentPage!==1">
                        <li (click)="minusPage()" class="page-item"><a class="page-link">Previous</a></li>
                    </ng-container>
                    <ng-container *ngFor="let in of newsLengthArray; index as i">
                        <li (click)="executeNewsPerPage(i+1)" class="page-item"><a class="page-link">{{i+1}}</a></li>
                    </ng-container>
                    <ng-container *ngIf="currentPage!==newsPer">
                        <li (click)="plusPage()" class="page-item"><a class="page-link">Next</a></li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>

</div>

<!-- View News Modal Start-->
<div id="viewNews" class="modal fade bd-example-modal-lg" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" *ngIf="currentNews.newsId !== 0">
            <div class="modal-header">
                <h5 class="modal-title">{{currentNews.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="slider-image">
                    <div class="slideshow-container">
                        <ng-container *ngFor="let image of galleryNews; index as i">
                            <div class="mySlides" *ngIf="i===0" style="display: block;">
                                <img [src]="getUrlImage(image.name)" style="width:100%">
                            </div>
                            <div class="mySlides" *ngIf="i!==0" style="display: none;">
                                <img [src]="getUrlImage(image.name)" style="width:100%">
                            </div>
                        </ng-container>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>
                </div>
                <div class="mce-content-body">
                    <span innerHTML="{{currentNews.description}}"></span>
                    <p class="text-right">Create Date: {{currentNews.createdDate | date:'dd/MM/y'}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- View News Modal End-->

<!-- Change Status News Modal Start-->
<div id="changeStatus" class="modal fad" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change News Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formStatus">
                    <select formControlName="status" class="form-control select2 select2-hidden-accessible"
                        name="status" tabindex="-1" aria-hidden="true" required="required">
                        <option value="public">Public</option>
                        <option value="nonPublic">Nonpublic</option>
                        <option value="draft">Draft</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button (click)="updateStatus()" type="button" class="btn btn-primary"
                    data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Change Status News Modal End-->