<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> News</li>
        </ul>
    </div>
</section>

<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-2">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">News And Tips</h3>
            <br>
            <section class="w3l-cover-3">
                <div class="cover ">
                    <div class="container">
                        <div class="middle text-center">
                            <!-- Search -->
                            <form action="#" class="w3l-cover-3-gd" method="GET" [formGroup]="formSearchNews">
                                <input type="search" name="text" placeholder="Enter keywords" formControlName="keyword"
                                    required>
                                <span class="input-group-btn">
                                    <select class="btn btn-default" name="ext" required formControlName="category">
                                        <option disabled selected> Select Category</option>
                                        <ng-container *ngFor="let c of categoryIds">
                                            <option value="{{c.newsCategoryId}}">{{c.name}}</option>
                                        </ng-container>
                                    </select>
                                </span>

                                <button type="submit" class="btn-primary"
                                    (click)="searchBtn()">Search</button>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row mt-lg-5 mt-4 pt-3">
                <ng-container *ngFor="let m of newcategory">
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4 mb-4">
                        <div class="grids5-info">
                            <span class="posted-date">
                                <a href="#blog-single">
                                    <span class="small">{{m.createdDate|date:'dd/MM/y'}}
                                    </span>
                                </a>
                            </span>
                            <a class="d-block zoom"><img style="width: 370px; height: 200px;"
                                    [src]="getUrlImage(m.thumbailName)" alt="" class="img-fluid news-image" /></a>
                            <div class="blog-info">
                                <a [routerLink]="[ '/user/newPropertyMember', { Id: m.newsId } ]"
                                    class="category">{{readMoreFunc(m.title)}}</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div>

<!-- pagination -->
<div class="pagination-wrapper mt-5 pt-lg-3 text-center">
    <ul class="page-pagination">
        <ng-container *ngIf="currentPage!==1">
            <li (click)="minusPage()"><a class="next">Previous</a></li>
        </ng-container>
        <ng-container *ngFor="let in of newsLengthArray; index as i">
            <li (click)="executeNewsPerPage(i+1)"><a class="page-numbers">{{i+1}}</a></li>
        </ng-container>
        <ng-container *ngIf="currentPage!==newsPer">
            <li (click)="plusPage()"><a class="next">Next <span class="fa fa-angle-right"></span></a></li>
        </ng-container>
    </ul>
</div>
<br>
<!-- //pagination -->

<!-- <div class="col-12">
    <div class="d-flex justify-content-between">
        <div>
            Showing {{currentPage==1? 1 : (currentPage-1)*10}} to {{currentPage*10 > newsLength? newsLength :
            currentPage*10}} of {{newsLength}} entries
        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">

            </ul>
        </div>
    </div>
</div> -->