<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3>
                    <i class="far fa-image"></i> Image Gallery</h3>
                Click on image to show lightbox
            </div>

            <div class="card-body">

                <div class="row">
                    <a href="https://via.placeholder.com/600x350" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-2 mb-3">
                        <img alt="image" src="https://via.placeholder.com/600x350" class="img-fluid">
                    </a>
                    <a href="https://via.placeholder.com/600x350" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-2 mb-3">
                        <img alt="image" src="https://via.placeholder.com/600x350" class="img-fluid">
                    </a>
                    <a href="https://via.placeholder.com/600x350" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-2 mb-3">
                        <img alt="image" src="https://via.placeholder.com/600x350" class="img-fluid">
                    </a>

                    <a href="https://via.placeholder.com/600x350" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-2 mb-3">
                        <img alt="image" src="https://via.placeholder.com/600x350" class="img-fluid">
                    </a>
                    <a href="https://via.placeholder.com/600x350" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-2 mb-3">
                        <img alt="image" src="https://via.placeholder.com/600x350" class="img-fluid">
                    </a>
                    <a href="https://via.placeholder.com/600x350" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-2 mb-3">
                        <img alt="image" src="https://via.placeholder.com/600x350" class="img-fluid">
                    </a>
                </div>

            </div>
        </div>
        <!-- end card-->
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3>
                    <i class="far fa-image"></i> Video Gallery</h3>
                Use keyboard arrows (left / right) to switch videos
            </div>

            <div class="card-body">

                <a href="https://www.youtube.com/watch?v=HbYYA4iIsHw" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
                    <img alt="image" src="https://i1.ytimg.com/vi/HbYYA4iIsHw/mqdefault.jpg" class="img-fluid">
                </a>
                <a href="https://www.youtube.com/watch?v=xWMMYhGWT88" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
                    <img alt="image" src="https://i1.ytimg.com/vi/xWMMYhGWT88/mqdefault.jpg" class="img-fluid">
                </a>
                <a href="https://www.youtube.com/watch?v=mg_5gIQOdxc" data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4">
                    <img alt="image" src="https://i1.ytimg.com/vi/mg_5gIQOdxc/mqdefault.jpg" class="img-fluid">
                </a>

            </div>
        </div>
        <!-- end card-->
    </div>

</div>