<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Property</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> property single</li>
        </ul>
    </div>
</section>
<!--/blog-post-->
<section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="inner mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <div class="listing-category "><span style="background-color: lightgreen;"> {{property.type}}
                        </span></div>
                </li>
                <li><span class="fa fa-clock-o"></span> Upload : {{property.uploadDate| date: 'dd/MM/yyyy'}} </li>
            </ul>
        </div>
        <div class="post-content">
            <h2 class="title-single"> {{property.title}}</h2>
        </div>
        <div class="blo-singl mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <p>{{property.address}}</p>
                </li>
                <li><span class="fa fa-bed"></span> {{property.bedNumber}} Beds</li>
                <li><span class="fa fa-bed"></span> {{property.roomNumber}} Rooms </li>
                <li><span class="fa fa-share-square-o"></span> {{property.area}} sqrft</li>
            </ul>
            <ul class="share-post">
                <a href="#url" class="cost-estate m-o">${{property.price}} {{ (property.type == 'Rent') ? ' / month ' :
                    ''}}</a>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8 w3l-news">
                <div class="blog-single-post">
                    <div class="single-post-image mb-5">
                        <div class="owl-blog owl-carousel owl-theme">
                            <div class="item">
                                <ng-image-slider 
                                    [images]="imageObject" class="card"
                                    [autoSlide]="1" 
                                    [imageSize]="{width: 768 , height: 650}"
                                    [animationSpeed] = 0.5 
                                ></ng-image-slider>                                

                            </div>
                            <!-- <div class="slider-image">
                                <div class="slideshow-container">
                                    <ng-container *ngFor="let image of imagesList; index as i">
                                        <div class="mySlides" >
                                            <img [src]="getUrlImage(image.name)" style="width:100%">
                                        </div>
                                    </ng-container>
            
                                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                </div>
                                <br>  
                            </div> -->
                            <!-- <div class="single-post-image mb-5">
                                <div class="owl-blog owl-carousel owl-theme" *ngFor="let image of imagesList">
                                    <div class="item" >
                                        <div class="card">
                                            <img  [src]="getUrlImage(image.name)" class="img-fluid radius-image" alt="image">
                                        </div>
                                    </div>                                    
                                </div>
                            </div> -->

                        </div>
                    </div>

                    <div class="single-post-content">
                        <h3 class="post-content-title mb-3">Description</h3>
                        <div class="single-bg-white">
                            <p class="mb-4" style="white-space:pre-wrap; color:#3f3a64">
                                <span [innerHTML]="property.description"></span>
                            </p>
                        </div>
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">Property detail</h3>
                            <ul class="details-list">
                                <li><strong>Property id :</strong> {{property.propertyId}} </li>
                                <li><strong>Property size :</strong> {{property.area}} sqrft </li>
                                <li><strong>Rooms :</strong> {{property.roomNumber}} </li>
                                <li><strong>Bedrooms :</strong> {{property.bedNumber}} </li>
                                <li><strong>Property Price :</strong>{{property.price }} </li>
                                <li><strong>Built Year :</strong> {{property.buildYear | date: 'yyyy'}} </li>

                            </ul>
                        </div>
                      
                    </div>

                    <!-- <div class="single-bg-white">
                        <h3 class="post-content-title mb-4">Location</h3>
                        <div class="agent-map">
                            <iframe [src]="property.googleMap | safe" width="600" height="450" style="border:0;"
                                allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
                <aside class="sidebar">

                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Contact an Agent</h4>
                        </div>

                        <article class="post">
                            <figure class="post-thumb"><img src="http://localhost:5000/images/member/{{property.memberPhoto}}" class="radius-image" alt="">
                            </figure>
                            <!-- Cho nay se link qua ben page agent detail cua T.Anh-->
                            <div class="text mb-0"><a href="#blog-single">{{property.memberName}}
                                </a>
                                <div class="post-info">{{property.memberPhone}}</div>
                                <div class="post-info">{{property.memberEmail}} </div>
                            </div>
                        </article>
                        <div class="form-group">
                            <a href="tel:{{property.memberPhone}}">
                                <button type="submit" class="btn btn-primary btn-style w-100">Call</button>
                            </a>
                        </div>
                        <div class="btn-contact-property form-group3">
                            <button type="submit" class="btn btn-primary btn-style w-100" id="btnContactProperty"> Send
                                Contact</button>
                        </div>
                        <!-- popup contact form -->
                        <div class="w3l-contact-7 popup-contact-form-property hide ">
                            <div class="map-content-9">
                                <div class="contact-form max-width-650">
                                    <span class="btn-close-contact-property fa icon-close fa-times"></span>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5 class="mb-2">Get in touch</h5>
                                            <p class="mb-4">We will contact you as soon as possible.</p>

                                        </div>
                                        <div class="col-lg-12">
                                            <form method="post" class="ng-untouched ng-pristine ng-valid "
                                                [formGroup]="formContact">
                                                <div class="form-group">
                                                    <div class="input-field mb-4">
                                                        <input type="text" name="w3lName" id="w3lName"
                                                            placeholder="Your Name" required
                                                            formControlName="fullName">
                                                    </div>
                                                    <div class="form-grid">
                                                        <div class="input-field">
                                                            <input
                                                                [class.is-invalid]="Email.invalid && Email.touched"
                                                                type="email" placeholder="Email"
                                                                name="w3lSender" id="w3lSender"
                                                                formControlName="email" />
                                                            <div
                                                                *ngIf="(Email.invalid && Email.touched) || Email.dirty">
                                                                <small *ngIf="Email.errors?.required"
                                                                    class="text-danger">Email is
                                                                    required</small>
                                                                <!--question mark(?) is a safe navigation operator-->
                                                                <small *ngIf="Email.errors?.pattern"
                                                                    class="text-danger">Please provide a valid email
                                                                    address</small>
                                                            </div>

                                                        </div>
                                                        <div class="input-field">
                                                            <input type="text" name="w3lSender"
                                                                id="w3lSender" placeholder="Phone" required
                                                                formControlName="phone" >
                                                            <div *ngIf="Phone.touched && Phone.invalid"
                                                                class="text-danger">
                                                                <small *ngIf="Phone.errors.required">Mobile
                                                                    Number is required.</small>
                                                                <small *ngIf="Phone.errors.pattern">Please, Enter
                                                                    10 digit Mobile Number.</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-field mt-4"><textarea name="w3lMessage"
                                                            id="w3lMessage" placeholder="Message"
                                                            formControlName="message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary btn-style mt-2"
                                                        (click)="send()" [disabled]="!formContact.valid">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Popular Post</h4>
                        </div>

                        <article class="post" *ngFor="let pp of popularpost">
                            <figure class="post-thumb"><img src="http://localhost:5000/images/property/{{pp.images[0].name}}" class="radius-image" alt="">
                            </figure>
                            <div class="text"><a (click)="goDetails(pp.propertyId)">{{readMoreFunc(pp.title)}} </a>
                                <div class="post-info">{{pp.uploadDate | date : "MMM dd , yyyy"}}</div>
                            </div>
                        </article>


                    </div>
                    <!-- Popular Post Widget-->

                </aside>
            </div>
        </div>
    </div>
</section>
<!--//blog-posts-->