<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Property</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> property single</li>
        </ul>
    </div>
</section>
<!--/blog-post-->
<section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="inner mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <div class="listing-category "><span style="background-color: lightgreen;" > {{property.type}} </span></div>
                </li>
                <li><span class="fa fa-clock-o"></span> Upload : {{property.uploadDate| date: 'dd/MM/yyyy'}} </li>
            </ul>
        </div>
        <div class="post-content">
            <h2 class="title-single"> {{property.title}}</h2>
        </div>
        <div class="blo-singl mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <p>{{property.address}}</p>
                </li>
                <li><span class="fa fa-bed"></span> {{property.bedNumber}} Beds</li>
                <li><span class="fa fa-bed"></span> {{property.roomNumber}} Rooms </li>
                <li><span class="fa fa-share-square-o"></span> {{property.area}} sqrft</li>
            </ul>
            <ul class="share-post">
                <a href="#url" class="cost-estate m-o">${{property.price}} {{ (property.type == 'Rent') ? ' / month ' : ''}}</a>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8 w3l-news">
                <div class="blog-single-post">
                    <div class="single-post-image mb-5">
                        <div class="owl-blog owl-carousel owl-theme">
                            <div class="item">
                                <div class="card" *ngFor="let pi of property.images">
                                    <img src="assets/images/property/{{pi.name}}" class="img-fluid radius-image" alt="image">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="single-post-content">
                        <h3 class="post-content-title mb-3">Description</h3>
                        <p class="mb-4" style="white-space:pre-wrap;">
                            {{property.description}}
                        </p>
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">Property detail</h3>
                            <ul class="details-list">
                                <li><strong>Property id :</strong> {{property.propertyId}} </li>
                                <li><strong>Property size :</strong> {{property.area}} sqrft </li>
                                <li><strong>Rooms :</strong> {{property.roomNumber}}  </li>
                                <li><strong>Bedrooms :</strong> {{property.bedNumber}} </li>
                                <li><strong>Property Price :</strong>{{property.price }} </li>
                                <li><strong>Built Year :</strong> {{property.buildYear | date: 'yyyy'}}  </li>

                            </ul>
                        </div>
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">Amenities</h3>
                            <ul class="details-list">
                                <li><strong>Air Conditioning </strong></li>
                                <li><strong>Buil-In Wardrobes </strong> </li>
                                <li><strong>Dishwasher</strong> </li>
                                <li><strong>Floor Coverings </strong> </li>
                                <li><strong>Medical / Clinic </strong> </li>
                                <li><strong>Fencing</strong> </li>
                                <li><strong>Internet and wifi </strong> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-bg-white">
                        <h3 class="post-content-title mb-4">Location</h3>
                        <div class="agent-map">
                            <iframe [src]="property.googleMap " width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12 mt-lg-0 mt-5">
                <aside class="sidebar">

                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Contact an Agent</h4>
                        </div>

                        <article class="post">
                            <figure class="post-thumb"><img src="assets/user/images/l5.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text mb-0"><a href="#blog-single">Company realty
                                </a>
                                <div class="post-info">+(12) 324 567 89</div>
                                <div class="post-info">companyrealty@mail.com</div>
                            </div>
                        </article>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-style w-100">Call</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-style w-100">Send Contact</button>
                        </div>
                    </div>


                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Popular Post</h4>
                        </div>

                        <article class="post">
                            <figure class="post-thumb"><img src="assets/user/images/l1.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text"><a href="#blog-single">Why we are the best in the business
                                </a>
                                <div class="post-info">Sep 09, 2020</div>
                            </div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><img src="assets/user/images/l2.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text"><a href="#blog-single">Build your next landing page.
                                </a>
                                <div class="post-info">Sep 09, 2020</div>
                            </div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><img src="assets/user/images/l3.jpg" class="radius-image" alt="">
                            </figure>
                            <div class="text"><a href="#blog-single">
                                    Simply the best. Better than the rest.</a>
                                <div class="post-info">Sep 10, 2020</div>
                            </div>
                        </article>

                    </div>
                    <!-- Popular Post Widget-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Category</h4>
                        </div>

                        <ul>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Office space</a>
                            </li>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Shops</a>
                            </li>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Commercial land</a>
                            </li>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Industrial property</a>
                            </li>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Apartments</a>
                            </li>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Villas</a>
                            </li>
                            <li class="mb-2">
                                <a class="propertyType" href=""> <i class="fa fa-angle-double-right"></i> Businesses for sale</a>
                            </li>

                        </ul>

                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>
<!--//blog-posts-->