<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Listing</li>
        </ul>
    </div>
</section>

<div class="row py-3">
    <div class="col-lg-3 col-md-12">
        <!-- Popular Post Widget-->
        <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
                <h4>Search</h4>
            </div>

            <form [formGroup]="formGroup" (ngsubmit)='search()'>
                <div class="form-group">
                    <input type="text" id="nameProperty" formControlName='keyword' class="form-control"
                        placeholder="Keyword">
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true"
                        formControlName='country' placeholder="Country" (change)="loadcity($event)" >
                        <option disabled selected value="0" >Country</option>
                        <ng-container *ngFor="let co of loadcountries">
                            <option value="{{co.countryId}}"  >{{co.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true"
                        formControlName='city' placeholder="City" >
                        <option disabled selected  value="0"> City</option>
                        <ng-container *ngFor="let co of loadallcities">
                            <option value="{{co.cityId}}" >{{co.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true"
                        formControlName='category' placeholder="City" >
                        <option disabled selected  value="0"> Category</option>
                        <ng-container *ngFor="let co of categories">
                            <option value="{{co.categoryId}}" >{{co.name}}</option>
                        </ng-container>
                    </select>
                </div>
                
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true"
                        formControlName='type' placeholder="Type">
                        <option value="all" disabled selected>Type</option>
                        <option value="Rent">For Rent</option>
                        <option value="Sell">For Sell</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true" 
                        formControlName='area' placeholder="Area">
                        <option value="0" disabled selected>Area</option>
                        <option value="1">0 - 50 m2</option>
                        <option value="2">50 - 100 m2</option>
                        <option value="3">100 - 250 m2</option>
                        <option value="4">250 - 500 m2</option>
                        <option value="5"> >500 m2</option>
                    </select>

                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true" 
                        formControlName='bed' placeholder="Beds">
                        <option value="0" disabled selected>Beds</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                        <option value="5">5+</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                        data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true"
                        formControlName='room' placeholder="Rooms">
                        <option value="0" disabled selected>Rooms</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                        <option value="5">5+</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control select2 select2-hidden-accessible " id="example1" name="state"
                    data-select2-id="example1" tabindex="-1" aria-hidden="true" ng-required="true" 
                    formControlName='price' placeholder="Price">
                    <option value="0" disabled selected>Price</option>
                    <option value="1"> < 100$ </option>
                    <option value="2"> 100 - 200$ </option>
                    <option value="3"> 200 - 300$ </option>
                    <option value="4"> 300 - 500$</option>
                    <option value="5"> > 500$ </option>
                </select>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-style btn-primary" value="Search"
                        [routerLink]="['/user/searchproperty', 
                        {
                            keyword :  (this.formGroup.value.keyword == '') ? 'all' : this.formGroup.value.keyword ,
                            category : this.formGroup.value.category ,
                            country : this.formGroup.value.country , 
                            city : this.formGroup.value.city ,
                            type : this.formGroup.value.type ,
                            area : this.formGroup.value.area ,
                            bed : this.formGroup.value.bed ,
                            room : this.formGroup.value.room ,
                            price : this.formGroup.value.price , 
                            pg : 'listing' 
                        }]"  >
                    Search
                    </button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <section class="locations-1" id="locations">
            <div class="locations py-1">
                <div class="container py-lg-2 py-md-4 py-2">
                    <div class="row py-md-4">
                        <div class="col-lg-4 col-md-6 listing-img" *ngFor="let p of listing">
                            <a [routerLink]="['/user/single-property', {propertyId: p.propertyId}]">

                                <div class="box16">
                                    <div class="rentext-listing-category text-primary">{{p.statusName}}</div>
                                    <img class="img-fluid" src="http://localhost:5000/images/property/{{p.images[0].name}}" alt="">
                                    <div class="box-content">
                                        <h3 class="title">$ {{p.price}} {{ (p.type == 'Rent') ? ' / month ' : ''}}</h3> 
                                    </div>
                                </div>
                            </a>
                            <div class="listing-details blog-details align-self">
                                <h4 class="user_title agent">
                                    <a [routerLink]="['/user/single-property', {propertyId: p.propertyId}]">{{readMoreFunc(p.title)}} </a>
                                </h4>
                                <p class="user_position">{{p.address}}</p>
                                <ul class="mt-3 estate-info">
                                    <li><span class="fa fa-bed"></span> {{p.bedNumber}} Beds </li>
                                    <li><span class="fa fa-bed"></span> {{p.roomNumber}} Rooms </li>
                                    <li><span class="fa fa-share-square-o"></span> {{p.area}} Sqft</li>
                                </ul>
                                <div class="author align-items-center mt-4">
                                    <a href="#img" class="comment-img">
                                        <img src="http://localhost:5000/images/member/{{p.memberPhoto}}" alt="aaa" class="img-fluid">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <a [routerLink]="['/user/single-property', {propertyId: p.propertyId}]">{{p.memberName}} </a>
                                        </li>
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value">{{p.memberType}} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div><br>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Showing {{currentPage==1? 1 : (currentPage-1)*(listingPerPage)}} to {{currentPage*listingPerPage > listingLength? listingLength :
                                    currentPage*listingPerPage}} of {{listingLength}} entries
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <!-- pagination -->
                    <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                        
                        <!-- <div aria-label="Page navigation example"> -->
                            <ul class="page-pagination">
                                <ng-container *ngIf="currentPage!==1">
                                    <li (click)="minusPage()" class="page-item"><a class="page-numbers"><span
                                        class="fa fa-angle-left"> </span> Previous</a></li>
                                </ng-container>
                                <ng-container *ngFor="let in of listingLengthArray; index as i">
                                    <li (click)="executeNewsPerPage(i+1)" class="page-item"><a class="page-numbers">{{i+1}}</a></li>
                                </ng-container>
                                <ng-container *ngIf="currentPage!==listingPer">
                                    <li (click)="plusPage()" class="page-item"><a class="page-numbers">Next <span
                                        class="fa fa-angle-right"> </span></a></li>
                                </ng-container>
                            </ul>
                        <!-- </div> -->
                    </div>
                    <!-- //pagination -->
                </div>
            </div>
        </section>
    </div>
</div>