<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>It's great to be home!</p>
                    <h2>Find a property today</h2>
                    <div class="most-searches">                        
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET" [formGroup]="formSearch"  >
                        <input type="search" name="text" placeholder="Enter keywords" formControlName="keyword" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required formControlName="category">
                                <option disabled selected value="0"> Select Category</option>                                
                                <ng-container *ngFor="let c of categories" >
                                    <option value="{{c.categoryId}}">{{c.name}}</option>
                                </ng-container>
                                
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required  formControlName="country" >
                                <option disabled selected value="0"> Select Country</option>
                                <ng-container *ngFor="let co of countries">
                                    <option value="{{co.countryId}}" >{{co.name}}</option>
                                </ng-container>
                            </select>
                        </span>
                        <button
                         type="submit" class="btn-primary" *ngIf="this.formSearch.value.keyword != '' || this.formSearch.value.category != 0 || this.formSearch.value.country != 0 "                   
                         [routerLink]="['/user/searchproperty', {
                             keyword : ( this.formSearch.value.keyword == '' )? 'all' : this.formSearch.value.keyword , 
                             categoryId : this.formSearch.value.category , 
                             countryId : this.formSearch.value.country ,
                             pg : 'index'
                            
                            }]"
                            >
                        Search</button>

                        <button                        
                        type="submit" class="btn-primary" *ngIf="this.formSearch.value.keyword == '' && this.formSearch.value.category == 0  && this.formSearch.value.country == 0 "  >
                        Search</button>
                    </form>
                   
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Scroll</a>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h3 class="title-big">Top Properties</h3>
            </div>
            <div class="row pt-md-5 pt-4">
                
                <ng-container *ngFor="let p  of topproperty">
                    <div class="col-lg-4 col-md-6 mb-4"  >
                        <a [routerLink]="['/user/single-property', {propertyId: p.propertyId} ]">
                            <div class="box16">
                                <div class="rentext-listing-category"><span>{{p.type}}</span></div>
                                <img class="img-fluid" width="100%" height="100%" src="http://localhost:5000/images/property/{{p.images[0].name}} " alt="{{p.images[0].name}}" >
                                <div class="box-content">
                                    <h3 class="title" > {{readMoreFunc(p.title, 25)}}  </h3>
                                    <h4 class="post" > $ {{p.price}}  {{ (p.type == 'Rent') ? ' / month ' : ''}}</h4>
                                    <span class="post"> {{p.cityName}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</section>
<section class="w3l-index3" id="about">
    <div class="midd-w3 pb-5">
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="w3l-left-img">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h6 class="title-small">Who we are</h6>
                        <h3 class="title-big">The experts in local and international property</h3>
                        <p class="mt-4">{{setting.description}}
                        </p>
                        <p class="mt-3">Viverra feugiat. Pellen tesque libero ut justo,
                            ultrices in ligula. Semper at tempufddfel lorem ipsum.</p>
                        <a [routerLink]="[ '/user/listing' ]"  class="btn btn-style btn-primary mt-4">Discover our property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /bottom-grids-->
<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Buy a home</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci.
                    </p>
                    <a href="#more" class="more">Read More <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Rent a home </a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci.
                    </p>
                    <a href="#more" class="more">Read More <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-building-o"></span>
                    <h4><a href="#feature" class="title-head">See neighbourhoods</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci.
                    </p>
                    <a href="#more" class="more">Read More <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //bottom-grids-->
<section class="locations-1 popular" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="heading text-center mx-auto">
                <h6 class="title-small">Explore cities</h6>
                <h3 class="title-big">Popular Locations</h3>
            </div>
            <div class="row pt-5">

                <div class="col-lg-3 col-md-4 col-6 mb-4" *ngFor="let pl of loadpopularlocation">
                    <a  [routerLink]="['/user/searchproperty', 
                        {
                            keyword: 'all',
                            category: 0,
                            country: 0,
                            city: pl.cityId ,
                            type: 'all',
                            area: 0,
                            bed: 0,
                            room: 0,
                            price: 0 ,
                            pg : 'listing'}]">
                        <div class="box16 box16-edit">
                            <img class="img-fluid" src="assets/user/images/p1.jpg" alt="" width="100%" height="100%">
                            <div class="box-content">
                                <h3 class="title mb-1">{{pl.name}}</h3>
                                <span class="post">{{pl.numberProperties}} </span>
                            </div>
                        </div>
                    </a>
                </div>
               
            </div>
        </div>
    </div>
</section>
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="w3l-left-img1">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h6 class="title-small">Our clients</h6>
                        <div class="client-grid">
                            <div class="client-title">
                                <h3 class="title-big">We value client relationships</h3>
                            </div>
                            <div class="clients-info">
                                <h3 class="title-big">{{setting.numSatisfiedCustomer}}</h3>
                                <p>Satisfied customers</p>
                            </div>
                        </div>

                        <div class="w3l-clients" id="testimonials">
                            <div id="owl-demo1" class="owl-carousel owl-theme mt-4 pt-2 mb-4">
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial">
                                            <div class="testi-des">
                                                <div class="peopl align-self">
                                                    <h4>John wilson</h4>
                                                    <p class="indentity">Communication executive</p>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <q>OMG! I cannot believe that I have got a property new private house
                                                    after
                                                    getting villa. It was very comfortable. I can't say enough about
                                                    Real Estate</q>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial">
                                            <div class="testi-des">
                                                <div class="peopl align-self">
                                                    <h4>Julia sakura</h4>
                                                    <p class="indentity">Digital Marketer</p>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <q>OMG! I cannot believe that I have got a property new private house
                                                    after
                                                    getting villa. It was very comfortable. I can't say enough about
                                                    Real Estate</q>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial">
                                            <div class="testi-des">
                                                <div class="peopl align-self">
                                                    <h4>John wilson</h4>
                                                    <p class="indentity">Web Developer</p>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <q>OMG! I cannot believe that I have got a property new private house
                                                    after
                                                    getting villa. It was very comfortable. I can't say enough about
                                                    Real Estate</q>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial">
                                            <div class="testi-des">
                                                <div class="peopl align-self">
                                                    <h4>Julia sakura</h4>
                                                    <p class="indentity">Digital Marketer</p>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <q>OMG! I cannot believe that I have got a property new private house
                                                    after
                                                    getting villa. It was very comfortable. I can't say enough about
                                                    Real Estate</q>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a [routerLink]="['/user/agents']" class="btn btn-style btn-primary mt-5">Contact our agents</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-search-plus"></span>
                    <h5>All in one place</h5>
                    <h4><a href="#feature" class="title-head">Your One-Stop Shop for Finding Your Dream Home</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor in orci.</p>
                    <a href="#more" class="more">Search for home<span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-user-o"></span>
                    <h5>Connect to an agent</h5>
                    <h4><a href="#feature" class="title-head">Schedule a Free, No-Obligation Appointment</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor in orci.</p>
                    <a href="#more" class="more">Find an agent <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-home"></span>
                    <h5>Get a home valuation</h5>
                    <h4><a href="#feature" class="title-head">Understand the Value of Your Property </a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor in orci.</p>
                    <a href="#more" class="more">Submit info <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!--  News section -->
<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Tips and Advices</h3>
            <div class="row mt-lg-5 mt-4 pt-3">
                <ng-container *ngFor="let m of newcategory">
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4 mb-4">
                        <div class="grids5-info">
                            <span class="posted-date">
                                <a href="#blog-single">
                                    <span class="small">{{m.createdDate|date:'dd/MM/y'}}
                                    </span>
                                </a>
                            </span>
                            <a class="d-block zoom"><img style="width: 370px; height: 200px;"
                                    [src]="getUrlImage(m.thumbailName)" alt="" class="img-fluid news-image" /></a>
                            <div class="blog-info">
                                <a [routerLink]="[ '/user/newPropertyMember', { Id: m.newsId } ]"
                                    class="category">{{readMoreFunc(m.title, 60)}}</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div>
<!--  //News section -->
<section class="w3l-companies-hny-6 py-5">
    <!-- /grids -->
    <div class="container py-md-3">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 column">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="assets/user/images/client1.png" alt="client">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="assets/user/images/client2.png" alt="client">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-md-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="assets/user/images/client3.png" alt="client">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-lg-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="assets/user/images/client4.png" alt="client">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-lg-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="assets/user/images/client5.png" alt="client">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 column mt-lg-0 mt-4">
                <div class="company-gd">
                    <a href="#client"><img class="img-responsive" src="assets/user/images/client6.png" alt="client">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //grids -->
</section>
<!-- footers 20 -->