<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="far fa-address-card"></i> Setting Account</h3>
            </div>

            <div class="card-body">

                <form>
                    <div class="form-group d-flex justify-content-center">
                        <input type="file" accept=".png,.jpg,.jpeg" hidden #file>
                        <img src="../../../../assets/images/avatars/admin.png" alt="" (click)="file.click()"
                            class="avatar">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" required="" readonly>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your
                            email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="text" class="form-control" id="exampleInputNumber1" aria-describedby="fullName"
                            placeholder="Enter Full Name" required="">
                        <small id="fullName" class="form-text text-muted">We'll never share your
                            email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date of birth</label>
                        <input type="text" class="form-control" name="singledatepicker">
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#changePasswordSendMail">Email Password</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#changePassword">Change Password</button>
                    </div>
                </form>

            </div>
        </div><!-- end card-->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-money-check-alt"></i> Setting Payment</h3>
            </div>

            <div class="card-body">
                <form>

                    <div class="form-group">
                        <label for="name">Card Holder's Name</label>
                        <input class="form-control" id="name" type="text" placeholder="Enter name">
                    </div>

                    <div class="form-group">
                        <label for="payment">Payment</label>
                        <select class="form-control" id="payment">
                            <option value="paypal">Paypal</option>
                            <option value="creditCart" disabled>Credit card</option>
                            <option value="stripe" disabled>Stripe</option>
                            <option value="payUMoney" disabled>PayUMoney</option>
                            <option value="alipay" disabled>Alipay</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                        <input class="form-control" id="cardNumber" type="text" placeholder="Enter card number">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div><!-- end card-->
    </div>
</div>

<!-- Button Success and Error -->
<a class="btn btn-success" role="button" (click)="test_success_alert()">Show alert</a>
<a class="btn btn-danger" role="button" (click)="test_error_alert()">Show alert</a>

<!-- Modal Change Password-->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Old Password</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">New Password</label>
                        <input type="text" class="form-control" required aria-describedby="newPassword">
                        <small id="newPassword" class="form-text text-muted">Must be different than current
                            password.</small>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Confirm Password</label>
                        <input type="text" class="form-control" required aria-describedby="confirmPassword">
                        <small id="confirmPassword" class="form-text text-muted">Confirm password must be equal to
                            password.</small>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Change Password Send Mail-->
<div class="modal fade" id="changePasswordSendMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Password Send Mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Old Password</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">New Password</label>
                        <input type="text" class="form-control" required aria-describedby="newPassword">
                        <small id="newPassword" class="form-text text-muted">Must be different than current
                            password.</small>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Confirm Password</label>
                        <input type="text" class="form-control" required aria-describedby="confirmPassword">
                        <small id="confirmPassword" class="form-text text-muted">Confirm password must be equal to
                            password.</small>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>