<form [formGroup]="formSettingGroup">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Setting Template User</h3>
                </div>
                <!-- end card-header -->
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="title">Top Property<span class="text-danger">*</span></label>
                            <input formControlName="numTopProperty" type="text" placeholder="Enter number"
                                class="form-control" min="1">
                            <div *ngIf="formSettingGroup.get('numTopProperty')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numTopProperty') && hasError('numTopProperty', 'required')">Top
                                    property is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numTopProperty') && hasError('numTopProperty', 'pattern')">Top
                                    property must be number</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numTopProperty') && hasError('numTopProperty', 'max')">Top
                                    property no more than 10</em>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="title">Popular Location<span class="text-danger">*</span></label>
                            <input formControlName="numPopularLocation" type="text" placeholder="Enter number"
                                class="form-control" min="1">
                            <div *ngIf="formSettingGroup.get('numPopularLocation')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numPopularLocation') && hasError('numPopularLocation', 'required')">Popular
                                    Location is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numPopularLocation') && hasError('numPopularLocation', 'pattern')">Popular
                                    Location must be number</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numPopularLocation') && hasError('numPopularLocation', 'max')">Popular
                                    Location no more than 10</em>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="title">Popular Agent<span class="text-danger">*</span></label>
                            <input formControlName="numPopularAgent" type="text" placeholder="Enter number"
                                class="form-control" min="1">
                            <div *ngIf="formSettingGroup.get('numPopularAgent')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numPopularAgent') && hasError('numPopularAgent', 'required')">Popular
                                    Agent is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numPopularAgent') && hasError('numPopularAgent', 'pattern')">Popular
                                    Agent must be number</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numPopularAgent') && hasError('numPopularAgent', 'max')">Popular
                                    Agent no more than 10</em>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="title">Satisfied Customer<span class="text-danger">*</span></label>
                            <input formControlName="numSatisfiedCustomer" type="text" placeholder="Enter number"
                                class="form-control" min="1">
                            <div *ngIf="formSettingGroup.get('numSatisfiedCustomer')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numSatisfiedCustomer') && hasError('numSatisfiedCustomer', 'required')">Satisfied
                                    Customer is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numSatisfiedCustomer') && hasError('numSatisfiedCustomer', 'pattern')">Satisfied
                                    Customer must be number no more than 1000000000</em>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="title">News/page<span class="text-danger">*</span></label>
                            <input formControlName="numNews" type="text" placeholder="Enter number" class="form-control"
                                min="1">
                            <div *ngIf="formSettingGroup.get('numNews')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numNews') && hasError('numNews', 'required')">News/page is
                                    required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numNews') && hasError('numNews', 'pattern')">News/page must
                                    be
                                    number</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numNews') && hasError('numNews', 'max')">News/page no more
                                    than
                                    10</em>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="title">Property/page<span class="text-danger">*</span></label>
                            <input formControlName="numProperty" type="text" placeholder="Enter number"
                                class="form-control" min="1">
                            <div *ngIf="formSettingGroup.get('numProperty')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numProperty') && hasError('numProperty', 'required')">Property/page
                                    is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numProperty') && hasError('numProperty', 'pattern')">Property/page
                                    must be number</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numProperty') && hasError('numProperty', 'max')">Property/page
                                    no more than 10</em>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <label class="d-block" for="title">Thumbnail Website<span
                                    class="text-danger">*</span></label>
                            <input formControlName="thumbnailWebsite" type="file" accept=".png,.jpg,.jpeg"
                                (change)="detectFiles($event, 'thumbnailWebsite')" class="form-control"
                                #thumbnailWebsite hidden>

                            <ng-container *ngIf="urlThumbnailWebsite !=''; else elseThumbnailWebsite">
                                <img [src]="urlThumbnailWebsite" class="img-fluid img-thumbnail"
                                    style="width: 100%; overflow: hidden; max-height: 350px;"
                                    (click)="thumbnailWebsite.click()">
                            </ng-container>

                            <ng-template #elseThumbnailWebsite>
                                <img [src]="getUrlImage(mySetting.thumbnailWebsite)" class="img-fluid img-thumbnail"
                                    style="width: 100%; overflow: hidden; max-height: 350px;"
                                    (click)="thumbnailWebsite.click()">
                            </ng-template>

                        </div>
                        <div class="col-lg-4">
                            <label class="d-block" for="title">Thumbnail About Us<span
                                    class="text-danger">*</span></label>
                            <input formControlName="thumbnailAboutUs" type="file" accept=".png,.jpg,.jpeg"
                                (change)="detectFiles($event, 'thumbnailAboutUs')" class="form-control"
                                #thumbnailAboutUs hidden>

                            <ng-container *ngIf="urlThumbnailAboutUs != ''; else elseThumbnailAboutUs">
                                <img [src]="urlThumbnailAboutUs" class="img-fluid img-thumbnail"
                                    style="width: 100%; overflow: hidden; max-height: 350px;"
                                    (click)="thumbnailAboutUs.click()">
                            </ng-container>
                            <ng-template #elseThumbnailAboutUs>
                                <img [src]="getUrlImage(mySetting.thumbnailAboutUs)" class="img-fluid img-thumbnail"
                                    style="width: 100%; overflow: hidden; max-height: 350px;"
                                    (click)="thumbnailAboutUs.click()">
                            </ng-template>

                        </div>
                        <div class="col-lg-4">
                            <label class="d-block" for="title">Thumbnail Home<span class="text-danger">*</span></label>
                            <input formControlName="thumbnailHome" type="file" accept=".png,.jpg,.jpeg"
                                (change)="detectFiles($event, 'thumbnailHome')" class="form-control" #thumbnailHome
                                hidden>

                            <ng-container *ngIf="urlThumbnailHome != ''; else elseThumbnailHome">
                                <img [src]="urlThumbnailHome" class="img-fluid img-thumbnail"
                                    style="width: 100%; overflow: hidden; max-height: 350px;"
                                    (click)="thumbnailHome.click()">
                            </ng-container>
                            <ng-template #elseThumbnailHome>
                                <img [src]="getUrlImage(mySetting.thumbnailHome)" class="img-fluid img-thumbnail"
                                    style="width: 100%; overflow: hidden; max-height: 350px;"
                                    (click)="thumbnailHome.click()">
                            </ng-template>

                        </div>
                    </div>

                    <div class="form-group text-right">
                        <button (click)="updateUserSetting()" class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Setting Website Information</h3>
                </div>
                <!-- end card-header -->
                <div class="card-body">

                    <div class="row mb-3">

                        <!-- Phone Setting Start -->
                        <div class="col-lg-6">
                            <label for="title">Phone<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="tempPhone"
                                    [ngModelOptions]="{standalone: true}" placeholder="Enter phone" maxlength="12"
                                    minlength="8">
                                <div class="input-group-append">
                                    <span (click)="addPhone()" class="input-group-text bg-primary"
                                        style="color:#fff">Add</span>
                                </div>
                            </div>
                            <ng-container *ngFor="let phone of listPhone; index as i">
                                <div class="input-group mt-3">
                                    <input [value]="phone" type="text" class="form-control" readonly>
                                    <div class="input-group-append">
                                        <span (click)="deletePhone(i)" class="input-group-text bg-danger"
                                            style="color:#fff">X</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <!-- Phone Setting End -->

                        <!-- Email Setting Start -->
                        <div class="col-lg-6">
                            <label for="title">Email<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="email" class="form-control" [(ngModel)]="tempEmail"
                                    [ngModelOptions]="{standalone: true}" placeholder="Enter email" maxlength="50"
                                    minlength="8">
                                <div class="input-group-append">
                                    <span (click)="addEmail()" class="input-group-text bg-primary"
                                        style="color:#fff">Add</span>
                                </div>
                            </div>
                            <ng-container *ngFor="let phone of listEmail; index as i">
                                <div class="input-group mt-3">
                                    <input [value]="phone" type="text" class="form-control" readonly>
                                    <div class="input-group-append">
                                        <span (click)="deleteEmail(i)" class="input-group-text bg-danger"
                                            style="color:#fff">X</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <!-- Email Setting End -->

                    </div>

                    <div class="row mb-3">

                        <!-- Phone Setting Start -->
                        <div class="col-lg-6">
                            <label for="title">Address<span class="text-danger">*</span></label>
                            <textarea formControlName="address" class="form-control" name="" id="" cols="30"
                                rows="10"></textarea>
                            <div *ngIf="formSettingGroup.get('address')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('address') && hasError('address', 'required')">Address is
                                    required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('address') && hasError('address', 'maxLength')">Maximum 200
                                    characters</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('address') && hasError('address', 'minLength')">At least 10
                                    characters</em>
                            </div>
                        </div>
                        <!-- Phone Setting End -->

                        <!-- Email Setting Start -->
                        <div class="col-lg-6">
                            <label for="title">Description<span class="text-danger">*</span></label>
                            <textarea formControlName="description" class="form-control" name="" id="" cols="30"
                                rows="10"></textarea>
                            <div *ngIf="formSettingGroup.get('description')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('description') && hasError('description', 'required')">Description
                                    is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('description') && hasError('description', 'maxLength')">Maximum
                                    2000 characters</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('description') && hasError('description', 'minLength')">At
                                    least
                                    10 characters</em>
                            </div>
                        </div>
                        <!-- Email Setting End -->

                    </div>

                    <div class="form-group text-right">
                        <button (click)="updateWebsiteSetting()" class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Setting Template Admin</h3>
                </div>
                <!-- end card-header -->
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="title">Max Image Property<span class="text-danger">*</span></label>
                            <input formControlName="numMaxImageProperty" type="text" placeholder="Enter number"
                                class="form-control">
                            <div *ngIf="formSettingGroup.get('numMaxImageProperty')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numMaxImageProperty') && hasError('numMaxImageProperty', 'required')">Max
                                    Image Property is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numMaxImageProperty') && hasError('numMaxImageProperty', 'pattern')">Max
                                    Image Property must be number</em>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="title">Max Image News<span class="text-danger">*</span></label>
                            <input formControlName="numMaxImageNews" type="text" placeholder="Enter number"
                                class="form-control">
                            <div *ngIf="formSettingGroup.get('numMaxImageNews')?.touched">
                                <em class="text-danger"
                                    *ngIf="validateControl('numMaxImageNews') && hasError('numMaxImageNews', 'required')">Max
                                    Image News is required</em>
                                <em class="text-danger"
                                    *ngIf="validateControl('numMaxImageNews') && hasError('numMaxImageNews', 'pattern')">Max
                                    Image News must be number</em>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <button (click)="updateAdminSetting()" class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Category setting</h3>
                </div>
                <!-- end card-header -->
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label>News Category</label>
                                    <select (change)="sendNewsCategoryId($event)"
                                        class="form-control select2 select2-hidden-accessible" id="example1"
                                        name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                        required="required">
                                        <ng-container *ngFor="let category of allNewsCategory;">
                                            <option value="{{category.newsCategoryId}}">{{category.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>News Category</label>
                                    <input type="text" class="form-control mb-3" #newCategoryInput
                                        placeholder="Enter new category">
                                    <button (click)="addNewsCategory(newCategoryInput.value)" type="button"
                                        class="btn btn-primary" data-dismiss="modal">Create</button>
                                </div>
                                <div class="col-6">
                                    <label>Edit category</label>
                                    <input type="text" class="form-control mb-3" #editCategoryInput
                                        placeholder="Enter new category" [(ngModel)]="oldCategoryName"
                                        [ngModelOptions]="{standalone: true}">
                                    <div class="d-flex justify-content-between">
                                        <button (click)="deleteNewsCategory(newsCategoryId)" type="button"
                                            class="btn btn-danger" data-dismiss="modal"
                                            [disabled]="newsCategoryId==0">Delete</button>
                                        <button (click)="updateNewsCategory(editCategoryInput.value)" type="button"
                                            class="btn btn-primary" data-dismiss="modal"
                                            [disabled]="newsCategoryId==0">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label>Property Category</label>
                                    <select (change)="sendPropertyCategoryId($event)"
                                        class="form-control select2 select2-hidden-accessible" id="example1"
                                        name="state" data-select2-id="example1" tabindex="-1" aria-hidden="true"
                                        required="required">
                                        <ng-container *ngFor="let propertyCategory of allPropertyCategory;">
                                            <option value="{{propertyCategory.categoryId}}">
                                                {{propertyCategory.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Property Category</label>
                                    <input type="text" class="form-control mb-3" #propertyCategoryInput
                                        placeholder="Enter property category">
                                    <button (click)="addPropertyCategory(propertyCategoryInput.value)" type="button"
                                        class="btn btn-primary" data-dismiss="modal">Create</button>
                                </div>
                                <div class="col-6">
                                    <label>Property category</label>
                                    <input type="text" class="form-control mb-3" #editPropertyCategoryInput
                                        placeholder="Enter property category" [(ngModel)]="oldPropertyName"
                                        [ngModelOptions]="{standalone: true}">
                                    <div class="d-flex justify-content-between">
                                        <button (click)="deletePropertyCategory(propertyCategoryId)" type="button"
                                            class="btn btn-danger" data-dismiss="modal"
                                            [disabled]="propertyCategoryId==0">Delete</button>
                                        <button (click)="updatePropertyCategory(editPropertyCategoryInput.value)"
                                            type="button" class="btn btn-primary" data-dismiss="modal"
                                            [disabled]="propertyCategoryId==0">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
</form>