<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="card mb-3">

            <div class="card-header">
                <h3><i class="fas fa-table"></i> Invoice example</h3>
            </div>

            <div class="card-body">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="invoice-title text-center mb-3">
                                <h2>Invoice #123456</h2>
                                <strong>Date:</strong> April 17, 2018
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <h5>Billed To:</h5>
                                    <address>
                                        Full name: John Doe<br>
                                        Username: user101<br>
                                        Ad Package: VIP
                                    </address>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 text-right">
                                    <h5>Shipped To:</h5>
                                    <address>
                                        Visa ending **** 8462<br>
                                    </address>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h5>Payment Method:</h5>
                                    <address>
                                        Visa ending **** 7879<br>
                                        Email: johndoe@email.com <br>
                                    </address>
                                </div>
                                <div class="col-xs-12 col-md-6 text-right">
                                    <h5>Order Date:</h5>
                                    <address>
                                        April 17, 2018<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <td><strong>Item</strong></td>
                                                    <td class="text-center"><strong>Price</strong>
                                                    </td>
                                                    <td class="text-center">
                                                        <strong>Quantity</strong>
                                                    </td>
                                                    <td class="text-right"><strong>Totals</strong>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>BS-200</td>
                                                    <td class="text-center">$10.99</td>
                                                    <td class="text-center">1</td>
                                                    <td class="text-right">$10.99</td>
                                                </tr>
                                                <tr>
                                                    <td>BS-400</td>
                                                    <td class="text-center">$20.00</td>
                                                    <td class="text-center">3</td>
                                                    <td class="text-right">$60.00</td>
                                                </tr>
                                                <tr>
                                                    <td>BS-1000</td>
                                                    <td class="text-center">$600.00</td>
                                                    <td class="text-center">1</td>
                                                    <td class="text-right">$600.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line text-center">
                                                        <strong>Subtotal</strong>
                                                    </td>
                                                    <td class="thick-line text-right">$670.99</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center">
                                                        <strong>Shipping</strong>
                                                    </td>
                                                    <td class="no-line text-right">$15</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center">
                                                        <strong>Total</strong>
                                                    </td>
                                                    <td class="no-line text-right">$685.99</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end card body -->

        </div>
        <!-- end card-->

    </div>
    <!-- end col-->

</div>