<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-table"></i> Payment Ads package transactions</h3>
            </div>


            <!-- <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length " id="dataTable_length">
                                    <label>Show
                                        <select name="dataTable_length" aria-controls="dataTable"
                                            class="custom-select custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                                            class="form-control form-control-sm" placeholder=""
                                            aria-controls="dataTable"></label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12 col-md-6">
                                        <label>Search:
                                            <input type="text"  class="form-control form-control-sm" ng-model="keyword" placeholder="Input Keyword" (keyup) ="searchInvoice()">
                                        </label>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table 
                                    class="table table-bordered table-hover display dataTable no-footer"
                                    style="width: 100%;" role="grid" aria-describedby="dataTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-sort="ascending" style="width: 10px;">No.</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" style="width: 100px;">Ad package</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1"> Member name</th>
                                            <th class="sorting" rowspan="1" colspan="1"> Price
                                            </th>

                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" style="width: 92px;">Create date</th>
                                            <th class="sorting" rowspan="1" colspan="1"> Status
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1"> Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr role="row" class="odd" *ngFor="let invoice of invoices ; index as i">
                                            <td class="sorting_1">{{i+1}}</td>
                                            <td>{{invoice.name}}</td>
                                            <td>{{invoice.member.fullName}}</td>
                                            <td><i class="text-success"></i>{{invoice.adsPackage.price}} $ </td>

                                            <td>{{invoice.created | date : "dd/MM/yyyy"}}</td>
                                            <td><i class="fas fa-dot-circle text-success"></i> Success</td>
                                            <td>
                                                <a data-toggle="modal" data-target=".bd-example-modal-lg"
                                                    class="btn btn-success btn-sm btn-block"
                                                    (click)="getInvoiceDetail(invoice)"><i class="fas fa-search "></i>
                                                    Details</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                end table-responsive
            </div> -->

            <div class="card-body" > 
                <style>
                    ul#pagination li {
                      display:inline;
                    }
                    </style>
                <div class="row">
                    <div class="col-sm-12 col-md-6 ">
                        <div class="col-sm-12 col-md-6 ">
                                <label>Search:
                                    <input type="text"  class="form-control form-control-sm" id="keywordInput" placeholder="Input Keyword" (keyup) ="searchInvoice()" #keywordInput>
                                </label>
                                
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-6">
                        <ul class="page-pagination" id="pagination" >
                            <ng-container *ngIf="currentPage!==1" >
                                <li (click)="minusPage()" class="page-item"><button class="btn"> <a class="page-numbers"> <span
                                    class="fa fa-angle-left"> </span> Previous</a></button></li>
                            </ng-container>
                            <ng-container *ngFor="let in of listingLengthArray; index as i">
                                <li (click)="executeNewsPerPage(i+1)" class="page-item"><button class="btn"> <a class="page-numbers">{{i+1}}</a></button></li>
                            </ng-container>
                            <ng-container *ngIf="currentPage!==listingPer">
                                <li (click)="plusPage()" class="page-item"><button class="btn"> <a class="page-numbers">Next <span
                                    class="fa fa-angle-right"> </span></a></button></li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" >
                        <table 
                            class="table table-bordered table-hover display dataTable no-footer"
                            style="width: 100%;" role="grid" aria-describedby="dataTable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending" style="width: 10px;">No.</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" style="width: 100px;">Ad package</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1"> Member name</th>
                                    <th class="sorting" rowspan="1" colspan="1"> Price
                                    </th>

                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" style="width: 92px;">Create date</th>
                                    <th class="sorting" rowspan="1" colspan="1"> Status
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1"> Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr role="row" class="odd" *ngFor="let invoice of invoices ; index as i">
                                    <td class="sorting_1">{{i+1}}</td>
                                    <td>{{invoice.name}}</td>
                                    <td>{{invoice.member.fullName}}</td>
                                    <td><i class="text-success"></i>{{invoice.adsPackage.price}} $ </td>

                                    <td>{{invoice.created | date : "dd/MM/yyyy"}}</td>
                                    <td><i class="fas fa-dot-circle text-success"></i> Success</td>
                                    <td>
                                        <a data-toggle="modal" data-target=".bd-example-modal-lg"
                                            class="btn btn-success btn-sm btn-block"
                                            (click)="getInvoiceDetail(invoice)"><i class="fas fa-search "></i>
                                            Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div class="row"> 
                    <div class="col-sm-12 ">
                        <div class="col-sm-2 col-md-6">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Showing {{currentPage==1? 1 : (currentPage-1)*(listingPerPage)}} to {{currentPage*listingPerPage > listingLength? listingLength :
                                    currentPage*listingPerPage}} of {{listingLength}} entries
                                </div>                                
                            </div>
                        </div>
 
                    </div>
                </div>
                

            </div>
            
            <!-- end card-body--> 

        </div>
        <!-- end card-->

    </div>

</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment details - {{invoiceDetail.invoiceId}} </h4>

                <!-- <h5 class="modal-title">{{invoiceDetail.created | date : " dd/MM/yyyy"}} </h5> -->

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h5>Billed To: </h5>
                        <address>
                            Full name: {{invoiceDetail.member.fullName}}<br>
                            Username: {{invoiceDetail.member.username}} <br>
                            Ad Package: {{invoiceDetail.adsPackage.nameAdPackage}}
                        </address>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h5>Payment Method:</h5>
                        <address>
                            Visa : {{invoiceDetail.paymentCard}}<br>
                            Email: {{invoiceDetail.member.email }} <br>
                            Payment: {{invoiceDetail.paymentMethod}}
                        </address>
                    </div>

                    <div class="col-xs-12 col-md-4 ">
                        <h5>Order Date:</h5>
                        <address>
                            {{invoiceDetail.created | date : " MMM dd , yyyy"}}<br>
                            Status: <span class="text-success"> Success</span>
                        </address>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>