<header id="site-header" class="fixed-top bg-dark-color">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke px-0">
      <h1> <a class="navbar-brand" [routerLink]="[ '/user/index' ]">
          <span class="fa fa-home"></span> Realtor Portal
        </a></h1>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-lg-5 mr-auto">

          <li class="nav-item bg-before-80 @@home_active">
            <a [routerLink]="[ '/user/index' ]" class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item bg-before-80 @@listing__active">
            <a [routerLink]="[ '/user/listing' ]" class="nav-link">Property</a>
          </li>
          <li class="nav-item bg-before-80 dropdown @@pages__active">
            <mycategory></mycategory>
          </li>

          <li class="nav-item bg-before-80 dropdown @@pages__active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Phonebook <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item @@about__active" [routerLink]="['/user/sellers']">Seller</a>
              <a class="dropdown-item @@contact__active" [routerLink]="['/user/agents']">Agent</a>
            </div>
          </li>

          <li class="nav-item bg-before-80 @@listing__active">
            <a class="nav-link" [routerLink]="['/user/news']">News</a>
          </li>

          <li class="nav-item bg-before-80 @@listing__active">
            <a class="nav-link" [routerLink]="['/user/aboutUs']">About us</a>
          </li>
        </ul>
        <div class="top-quote mt-lg-0">
          <a *ngIf="authenticated()" class="text-ahref mr-2" [routerLink]="['/admin/dashboard']"> <b>Go Admin</b></a>
          <a *ngIf="authenticated()" class="btn btn-style btn-primary" [routerLink]="" (click)="logout()">
            <b>Logout</b>
          </a>
          <a *ngIf="!authenticated()" class="text-ahref mr-2" [routerLink]="['/login']"> <b>Login</b>
          </a>
          <a *ngIf="!authenticated()" class="btn btn-style btn-primary" [routerLink]="['/registration']"> Sign Up
          </a>
        </div>
        <!--/search-right-->
        <!-- <div class="search mx-3">
          <input class="search_box" type="checkbox" id="search_box">
          <label class="fa fa-search" for="search_box"></label>
          <div class="search_form">
            <form action="error.html" method="GET">
              <input type="text" placeholder="Search"><input type="submit" value="search">
            </form>
          </div>
        </div> -->
        <!--//search-right-->
      </div>

    </nav>
  </div>
</header>


<router-outlet></router-outlet>

<section class="w3l-footers-20 bg-dark-color">
  <div class="footers20">
    <div class="container">
      <div class="footers20-content">
        <div class="d-grid grid-col-4 grids-content">
          <div class="column">
            <a href="#url" class="link"><span class="fa fa-comments"></span></a>
            <a href="#url" class="title-small">Free consultation</a>
            <h4>Schedule a free consultation with our specialist.</h4>
            <a href="#buytheme" class="btn btn-style btn-primary"> Schedule now
              <span class="fa fa-long-arrow-right ml-2"></span> </a>
          </div>
          <div class="column">
            <a href="#url" class="link"><span class="fa fa-phone"></span></a>
            <a href="#url" class="title-small">help desk</a>
            <h4>Do you have questions or want more infomation? Call Now</h4>
            <a href="tel:{{setting.phone}}">
              <p class="contact-phone mt-2"><span class="lnr lnr-phone-handset"></span> {{setting.phone.split(',')[0]}}
              </p>
            </a>
          </div>
          <div class="column mt-lg-0 mt-md-5">
            <h4 class="mb-1">Contact us for help</h4>
            <p>and get more information of our properties</p>
            <button class="btn-contact btn btn-primary btn-style btn-primary mt-3">Contact <span
                class="fa fa-envelope"></span></button>
            <ul class="footers-17_social">
              <h4 class="d-inline mr-4">Follow us</h4>
              <li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>
              <li><a href="https://www.facebook.com/joker.tn16" class="facebook"><span
                    class="fa fa-facebook"></span></a></li>
              <li><a href="#url" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="https://www.instagram.com/_thungjk16_/" class="instagram"><span
                    class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3l-contact-7 popup-contact-form hide">
    <div class="map-content-9">
      <div class="contact-form max-width-650">
        <span class="btn-close-contact fa icon-close fa-times"></span>
        <div class="row">
          <div class="col-lg-12">
            <h5 class="mb-2">Get in touch</h5>
            <p class="mb-4">Your email address will not be published.</p>

          </div>
          <div class="col-lg-12">

            <form method="post" class="ng-untouched ng-pristine ng-valid " [formGroup]="formContact">
              <div class="form-group">
                <div class="input-field mb-4">
                  <input type="text" name="w3lName" id="w3lName" placeholder="Your Name" required
                    formControlName="fullName">
                </div>
                <div class="form-grid">

                  <div class="input-field">
                    <input [class.is-invalid]="Email.invalid && Email.touched" type="email" placeholder="Email"
                      name="w3lSender" id="w3lSender" formControlName="email" />
                    <div *ngIf="(Email.invalid && Email.touched) || Email.dirty">
                      <small *ngIf="Email.errors?.required" class="text-danger">Email is
                        required</small>
                      <!--question mark(?) is a safe navigation operator-->
                      <small *ngIf="Email.errors?.pattern" class="text-danger">Please provide a valid email
                        address</small>
                    </div>

                  </div>
                  <div class="input-field">
                    <input type="text" name="w3lSender" id="w3lSender" placeholder="Phone" required
                      formControlName="phone">
                    <div *ngIf="Phone.touched && Phone.invalid" class="text-danger">
                      <small *ngIf="Phone.errors.required">Mobile
                        Number is required.</small>
                      <small *ngIf="Phone.errors.pattern">Please, Enter
                        10 digit Mobile Number.</small>
                    </div>
                  </div>
                </div>
                <div class="input-field mt-4"><textarea name="w3lMessage" id="w3lMessage" placeholder="Message"
                    formControlName="message"></textarea>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-style mt-2" (click)="send()"
                  [disabled]="!formContact.valid">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /move top -->
</section>