<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-table"></i> Members</h3>
            </div>

            
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTable"
                                    class="table table-bordered table-hover display dataTable no-footer"
                                    style="width: 100%;" role="grid" aria-describedby="dataTable_info">
                                    <thead>                                        
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending"
                                                style="width: 159px;">No.</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 245px;">Full Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Office: activate to sort column ascending"
                                                style="width: 115px;">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 56px;">Role</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Date: activate to sort column ascending"
                                                style="width: 98px;">Status</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Salary: activate to sort column ascending"
                                                style="width: 92px;">Create date</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Salary: activate to sort column ascending"
                                                style="width: 92px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Customer</td>
                                            <td>Deactivate</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Angelica Ramos</td>
                                            <td>Chief Executive Officer (CEO)</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Customer</td>
                                            <td>Deactivate</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Customer</td>
                                            <td>Deactivate</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Bradley Greer</td>
                                            <td>Software Engineer</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Agent</td>
                                            <td>Deactivate</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Brenden Wagner</td>
                                            <td>Software Engineer</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Administration</td>
                                            <td>Pending</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Agent</td>
                                            <td>Pending</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Caesar Vance</td>
                                            <td>Pre-Sales Support</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Agent</td>
                                            <td>Active</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Customer</td>
                                            <td>Active</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Charde Marshall</td>
                                            <td>Regional Director</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Private Seller</td>
                                            <td>Pending</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Colleen Hurst</td>
                                            <td>Javascript Developer</td>
                                            <td>youremail@gmail.com</td>
                                            <td>Private Seller</td>
                                            <td>Pending</td>
                                            <td>10/10/2021</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-block "  data-toggle="modal"
                                    data-target="#sendMail"><i
                                                        class="fas fa-envelope "></i> Send mail</a>
                                                <a href="# " class="btn btn-success btn-sm btn-block "><i
                                                        class="fas fa-check "></i> Activate</a>
                                                <a href="# " class="btn btn-warning btn-sm btn-block "><i
                                                        class="fas fa-times "></i> Deactivate</a>
                                                <a href="# " class="btn btn-danger btn-sm btn-block mt-2 "><i
                                                        class="fas fa-trash "></i> Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end table-responsive-->

            </div>
            <!-- end card-body-->

        </div>
        <!-- end card-->

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="sendMail" tabindex="-1" role="dialog" aria-labelledby="sendMailTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new/Edit Ad Package</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mail to:</label>
                        <input type="text" class="form-control" value="youremail@gmail.com" readonly>
                    </div>
                    <div class="form-group">
                        <label for="example1">
                            Title: <span class="text-danger">*</span>
                        </label>
                        <input data-parsley-type="text" type="text" class="form-control"
                            required="" placeholder="Enter title" required="required">

                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="message-text" placeholder="Enter description"
                            required></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>